<div class="row">
<div class="col-sm-4"></div>
<div class="col-xs-12 col-sm-4">
<h2>New Item</h2>
<form action="/add" method="post" enctype="multipart/form-data">
    <label for="item-picture">Upload image: </label>
    <input type="file" name="item-picture"><br><br>
  <label for="name">Name: </label>
  <input type="text" required="" name="name"><br>
  <label for="description">Description: </label>
  <input type="text" required="" name="description">
  <br>
  <input type="submit" value="Save">
</form>
</div>
<div class="col-sm-4"></div>
</div>
