<% if (items.length > 0){ %>
  <div class="container-fluid">
    <div class="row">

<%    for (let i = 0; i < items.length; ++i){  %>
<%      let item = items[i];                   %>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="/item/<%=item.id%>">
        <div class="thumbnail">
          <img src="<%=item.picPath%>" alt="...">
          <div class="caption">
            <h3><%=item.name%></h3>
          </div>
        </div>
        </a>
      </div>
<%    }                                          %>
    </div>
  </div>
<% }                                              %>
