<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="./images/download.jpg" alt="...">
      <div class="caption">
        <h3>Item</h3>
        <p>Very little used mountain bike. He is three years old. New tires. Freshly revised.</p>
        <p><a href="#" class="btn btn-primary" role="button">Add item</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Item</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Item</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="categories">
    <h4>CATEGORIES</h4>
    <ol>
      <li><a href="#">Sport</a></li>
      <li><a href="#">Video-games</a></li>
      <li><a href="#">Home</a></li>
      <li><a href="#">Books</a></li>
      <li><a href="#">Bikes</a></li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
