
<h4><%=owner.username%></h4>
<div class="imagen">
  <img src="<%=item.picPath%>" alt="">
</div>
    <div class="caption">
      <h3><%=item.name%></h3>
      <p><%=item.description%></p>
      <p><a href="#" class="btn btn-primary" role="button">Add item</a></p>
    </div>
</div>
