


<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-6 col-md-3">
        <img src="<%item.picPath%>" alt="...">
        </a>
      </div>
      <h5><%item.name%></h5>
    </div>
  </div>
</div>

<div class="row">
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default">Remove</button>
  </div>
</div>
