.cover-page {
  background-size: cover;
  background-image: url("../images/Stuff_photo.jpg");
  height: 100vh;
}

.web-title {
  font-size: 90px;
  font-family: 'Tangerine', serif;
  color: #EC3E36;
  text-align: center;

}

.profile-picture {
  width: 200px;
  height: 300px;
  background-size: cover;
  position: relative;
  margin: auto;

}

.profile-picture>img {
  width: 200px;
  height: 250px;
  border-radius: 10%;
}

.caption {
  text-align: center;
}

.caption>h6 {
  font-size: 16px;
}

.username-profile {
  font-size: 24px;
  font-family: sans-serif;
  text-align: center;
}

.categories {
  float: right;
  margin-top: 70px;
  padding-right: 100px;
}

.item {

}

.top-margin {
  width: 100%;
  height: 55px;
}

.trade-separator {
  width: 100%;
  height: 10px;
  background-color: black;
}
